body {
    display: grid;
    grid-template-columns: 30vw 2fr 10vw;
    grid-template-rows: auto 2fr auto;
    grid-template-areas:
        "header header header"
        "nav main aside"
        "nav main aside";

    min-height: 100vh;
    background-color: #16485f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.main {
    grid-area: main;

}

aside {
    display: flex;
    justify-content: end;
    align-items: end;
    grid-area: aside;

}


nav {
    grid-area: nav;
    width: 35vw;
    padding: 0.625rem;
    position: fixed;
    top: 8vh;
 
}

header {
    grid-area: header;
    background-color: #062027;
    color: white;
    padding: 0;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.contenedorlogo {
    display: flex;
    align-items: center;

}

.imagen-logo {
    padding: 0.188rem 0.313rem;
    height: 7vh;
    width: auto;

}

.nombre-logo {

    color: #e3ede6;
    font-size: 1.25rem;
    padding: 0.188rem 0.313rem;
    margin: 0;
}

.contenedorlista {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.625rem;
}


.lista-Header a {
    color: #e3ede6;
    margin: 0.063rem 0.25rem;
    font-size: 0.875rem;
    text-decoration: none;
}

.lista-Header a:hover {
    color: #7ea59e;
}

.Botonesheader {
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;

}

.btnopcionuno {

    background-color: #062027;
    color: #e3ede6;
    border: none;
    font-size: 1.25rem;
    height: 100%;
    padding: 0.625rem;
    text-decoration: none;

}

.btnopcionuno:hover {
    background-color: #155e6a;
}

.btnheader:hover {
    color: #7ea59e;
}

.btninicio {
    background-color: #155e6a;
    border: none;
    font-size: 1.25rem;
    height: 100%;

}

.btninicio a {
    text-decoration: none;
    color: #e3ede6;

}

.svgnavh {
    fill: #e3ede6;
    width: auto;
    height: 60%;

}

.svgnav {
    fill: #e3ede6;
    width: auto;
    height: 40%;
    margin-top: 1.5em;
    margin-left: 1.2em;

}

.svgnav2 {
    fill: #e3ede6;
    width: auto;
    height: 40%;
    margin-top: 1.5em;
    margin-left: -.9em;

}

.svgnav3 {
    fill: #e3ede6;
    width: auto;
    height: 40%;
    margin-top: -.6em;
    margin-left: 1.2em;

}

.svgnav4 {
    fill: #e3ede6;
    width: auto;
    height: 40%;
    margin-top: -.9em;
    margin-left: -1.2em;

}

@media (max-width: 41.938rem) {
    .imagen-logo {
        text-align: center;
        height: 7vh auto;
        width: auto;
    }

    .nombre-logo {
        display: none;
    }



}

.headermain {

    background-color: #16485f;
    color: #e3ede6;
    display: flex;
    height: 10vh;
    width: 150vh;



}

.btnnav {
    background-color: transparent;
    width: 30vh;
    border: none;

}

.btnnav:hover {

    background-color: #155e6a;
}

.namep {
    margin: 0;
    color: #e3ede6;
}




.navmain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contpost {

    grid-area: body;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.list-optionmain a:hover {
    color: #7ea59e;
}

.contenedorArticulos {
    position: relative;
    margin: 0.625rem auto;
    width: 30vw;
}

.seccionpost {

    display: flex;
    background-color: #155e6a;

}

.publicaciones {
    text-align: center;
    margin-top: 0.625rem;
    width: 100%;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #7ea59e;
    padding: 1.25rem;
    border-radius: 0.313rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}

.btninsertar {
    color: #062027;
}

.textapublicar {

    background-color: #e3ede6;
    width: 100%;
    height: 6.25rem;
    margin-bottom: 0.625rem;

}

.textapublicar::placeholder {

    color: black;
    font-style: italic;
    font-size: 0.875rem;
}

input[type="file"] {
    margin-bottom: 0.625rem;
}

#publicar {
    background-color: #155e6a;
    border-radius: 5%;
    color: #e3ede6;
    border: none;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
}

#publicar:hover {
    background-color: #16485f;

}

#cerrar-popup {
    background-color: #e3ede6;
    border: none;
    border-radius: 5%;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
}

#cerrar-popup:hover {
    background-color: #999;
}

/*  publicaciones */
.publicacion {
    border: 0.063rem solid #e3ede6;
    border-radius: 0.625rem;
    padding: 0.625rem;
    margin: 0.625rem 0.625rem 0.625rem 1.125rem;
    width: 37vw;
    background-color: #e3ede6;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.4);
}

.minfoto {
    height: 7vh;
    width: auto;


}

.publicacion-header {
    display: flex;
    align-items: center;

}

.titulopubli {
    margin: 0;
    padding-left: 0.625rem;
    font-size: 1.25rem;
    color: #062027;
}

.publicacion-texto {
    margin: 0.625rem 0;
    font-size: 1.125rem;
    color: #062027;
}

.fotopublicada {
    width: 26.625rem;
    height: 26.625rem;
    border-radius: 0.313rem;
    margin-left: 5vh;

}



.publicacion-opciones {
    display: flex;
    justify-content: space-between;

}


.boton-opcion {
    background: none;
    border: none;
    color: #062027;
    padding-top: 10px;
}



.opctodo {
    
    padding: 0;
    margin: 0;

}

.opctododos {

    padding: 0;
    margin-top: 1vh;
   

}

.Titulosub {
border-top-right-radius: 8px;
border-top-left-radius: 8px;
    height: 5vh;
    width: 29.7vw;
    background-color: #7ea59e;
    color: #062027;
    font-size: 26px;
    margin-top: 1vh;
    margin-bottom: 0;
    padding: 2px;

}

.Suboption {
    padding-top: 1vh;
    background-color: #e3ede6;
    height: 10vh;
    width: 30vw;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #16485f;
}


.opcbtn {
    margin-left: 1vh;
    height: 10vh;
    width: 55vh;
    

}

.opcbtn a {

    color: #062027;
    text-decoration: none;
    margin: 0;
    font-size: 20px;

}

.opcbtn p {

    color: #062027;
    text-decoration: none;
    margin-top: 2px;
    font-size: 14px;

}

.opcbtn2 a {

    color: #062027;
    text-decoration: none;
    margin-left: 2vh;
    font-size: 20px;



}

.subimagen {
    margin: 4px;
    height: 8vh;
    width: auto;
}

.btnpopup {

    background-color: #062027;
    color: #e3ede6;
    border: none;
    border-radius: 10px;
    width: 90%;
    height: 8vh;
}

.btnpopup:hover {
    background-color: #7ea59e;
}



.up {
    display: flex;
    justify-content: flex-end;
    /* Alinea el contenido a la derecha */
    align-items: flex-end;
    /* Alinea el contenido hacia abajo */
    position: fixed;
    bottom: 16vh;
    right: 1vw;
    flex-direction: row;
    gap: 0.5em;
    margin-bottom: 0.5em;
    z-index: 100;
    /* Ajusta la superposición en capas (opcional) */
}

.down {
    display: flex;
    position: sticky;
    flex-direction: row;
    gap: 0.5em;
    position: fixed;
    bottom: 2.7vh;
    right: 1vw;
    z-index: 100;
}

.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: #7ea59e;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}



.card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: #7ea59e;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}



.card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: #7ea59e;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}


.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: #7ea59e;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}


.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #155e6a;
}

.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #155e6a;
}


.card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #155e6a;
}



.card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #155e6a;
}


/*---------shooting stars-----------*/


.bg-stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
    animation: animateBg 50s linear infinite;
}

@keyframes animateBg {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
    animation: animate 3s linear infinite;
}

.star::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

.star:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}

.star:nth-child(2) {
    top: 0;
    right: 100px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.star:nth-child(3) {
    top: 0;
    right: 220px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}

.star:nth-child(4) {
    top: 0;
    right: -220px;
    left: initial;
    animation-delay: 1.6s;
    animation-duration: 1.6s;
}