body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header header"
        "nav main aside";
    height: 100vh auto;
    margin: 0;
    padding: 0;
    background-color: #7ea59e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    grid-area: main;
    background: #7ea59e;
    padding: 20px;
}

aside {
    grid-area: aside;
    color: #e3ede6;
    padding: 10px;
    background-color: #16485f;
}

/*seccion header*/
.header {
    grid-area: header;
    background-color: #062027;
    color: white;
    padding: 0;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.contenedorlogo {
    display: flex;
    align-items: center;

}

.imagen-logo {
    padding: 3px 5px;
    height: 7vh;
    width: auto;

}

.nombre-logo {

    color: #e3ede6;
    font-size: 20px;
    padding: 3px 5px;
    margin: 0;
}

.contenedorlista {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}


.lista-Header a {
    color: #e3ede6;
    margin: 1px 4px;
    font-size: 14px;
    text-decoration: none;
}

.lista-Header a:hover {
    color: #7ea59e;
}

.Botonesheader {
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;

}

.btnopcionuno {

    background-color: #062027;
    color: #e3ede6;
    border: none;
    font-size: 20px;
    height: 100%;
    padding: 10px;
    text-decoration: none;

}

.btnopcionuno:hover {
    background-color: #155e6a;
}

.btnheader:hover {
    color: #7ea59e;
}

.btninicio {
    background-color: #155e6a;
    border: none;
    font-size: 20px;
    height: 100%;

}

.btninicio a {
    text-decoration: none;
    color: #e3ede6;

}

.svgnav {
    fill: #e3ede6;
    width: auto;
    height: 60%;

}

@media (max-width: 671px) {
    .imagen-logo {
        text-align: center;
        height: 7vh auto;
        width: auto;
    }

    .nombre-logo {
        display: none;
    }



}


/* Nav */

.conetedornav {

    grid-area: nav;
    display: flex;
    background-color: #16485f;
    margin: 0 3vh 0 0;
    padding: 0;
    flex-direction: column;
    align-items: center;


}

.psticky {
    width: 100%;
    position: sticky;
    top: 59px;

}

.seccionnav {
    width: 100%;
    height: 80%;

}

.perfilnv {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    text-decoration: none;
}

.seccionbtnv {

    width: 100%;
}

.btnnav {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    text-decoration: none;
    margin: 3vh 0vh;
    width: 100%;
    height: 7vh;
}

.fotoperfilp {
    height: 8vh;
    width: auto;
    padding: 1vh;
}

.namep {
    color: #e3ede6;
    margin: 0;
    font-size: 18px;
    padding: 5px 1px 1px 10px;
}

.namept {
    font-size: 17px;
    color: #e3ede6;

}

.perfilnv:hover {
    background-color: #155e6a;
}

.footer {
    display: flex;
    background-color: transparent;
}


.btnnav:hover {
    background-color: #155e6a;
}


.btnpopup:hover {
    background-color: #7ea59e;
}


.boton-opcion:hover {
    background-color: transparent;
}

.textfooter {
    margin: 10vh 0vh 0vh 0vh;
    align-items: flex-end;
    color: #e3ede6;

}


/*main*/

.contenedorArticulos {
    position: relative;
    margin: 10px auto;
    width: 30vw;
}

.seccionpost {

    display: flex;
    background-color: #155e6a;

}

.publicaciones {
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #7ea59e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btninsertar {
    color: #062027;
}

.textapublicar {

    background-color: #e3ede6;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;

}

.textapublicar::placeholder {

    color: black;
    font-style: italic;
    font-size: 14px;
}

input[type="file"] {
    margin-bottom: 10px;
}

#publicar {
    background-color: #155e6a;
    border-radius: 5%;
    color: #e3ede6;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#publicar:hover {
    background-color: #16485f;

}

#cerrar-popup {
    background-color: #e3ede6;
    border: none;
    border-radius: 5%;
    padding: 10px 20px;
    cursor: pointer;
}

#cerrar-popup:hover {
    background-color: #999;
}

/*  publicaciones */
.publicacion {
    border: 1px solid #e3ede6;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 80vh;
    position: relative;
    left: 13vh;
    top: -2vh;
    background-color: #e3ede6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.minfoto {
    height: 7vh;
    width: auto;


}

.publicacion-header {
    display: flex;
    align-items: center;

}

.titulopubli {
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    color: #062027;
}

.publicacion-texto {
    margin: 10px 0;
    font-size: 18px;
    color: #062027;
}

.fotopublicada {
    width: 526px;
    height: 526px;
    border-radius: 5px;

}

.publicacion-opciones {
    display: flex;
    justify-content: space-between;

}


.boton-opcion {
    background: none;
    border: none;
    color: #062027;
    padding-top: 10px;
}


/*aside*/

.contenedorhilos {
    height: 45vh;
    background-color: #155e6a;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px;
    position: sticky;
    top: 70px;


}

.btnpopup {
    background-color: #062027;
    color: #e3ede6;
    border: none;
    border-radius: 10px;
    width: 90%;
    height: 8vh;
}



.btnaside:hover {
    background-color: #16485f;

}

.titutoaside {

    color: #e3ede6;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    margin: 0;


}

.imgeneshilos {
    height: 7vh;
    width: auto;

}

.opcaside {
    background-color: #155E6A;
    padding: 1vh;
}

.btnaside {
    display: flex;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    justify-content: space-evenly;
    width: 100%;
    background-color: #155E6A;

}


.asidebtntext {
    color: #e3ede6;
    padding-left: 2px;
    font-size: 13px;
}